body{
    background-color: black;
    text-align: center;
}
h1{
  font-family: verdana;
  font-size: 50px;
  color:white;
//  text-align: center;
}
.down-link{
  font-size:16px;
  color:aquamarine;
//  text-align:center;
}

h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
